PORT=5000
MONGODB_URI=
FRONTEND_URL=
JWT_SECRET=
JWT_EXPIRES_IN_SECONDS=
JWT_ADMIN_EXPIRES_IN_SECONDS=
RESEND_API_KEY=
EMAIL_FROM=
ADMIN_ORDER_EMAIL=
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
SHIPROCKET_EMAIL=
SHIPROCKET_PASSWORD=
SHIPROCKET_PICKUP_LOCATION=
SHIPROCKET_COURIER_ID=
SHIPROCKET_AUTO_REQUEST_PICKUP=
AWS_REGION=
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
